# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/


# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log

# Claude Code
.claude/

# MLflow experiments
experiments/

# PDFs
*.pdf

