# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Data
data/raw/
data/processed/

# Models
models/saved/

# Outputs
outputs/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log